<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hello, template</title>
</head>
<body>
<h1>Hello, template</h1>

<!-- start slipsum code -->

<p>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in
    American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most
    popular gun in American crime. Like they're actually proud of that shit. </p>

<a th:href="@{/cities}" href="cities.html">Show cities</a>

<!-- please do not remove this line -->

<div style="display:none;">
    <a href="http://slipsum.com">lorem ipsum</a></div>

<!-- end slipsum code -->

</body>
</html>